@charset "utf-8";

* { margin: 0; padding: 0; border: 0; font-size: 100%; }

body {
	background: #AFF9FA
}

.logo {
	max-height: 164px;
}

.media-body {
	margin-top: 20px;
	color: orangered;
	
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 78px;
}

.card {
	margin: 40px;
	
}

nav {
	background-color: white;
	border-top: solid medium orangered;
	border-bottom: solid medium orangered;
}

.nav-pills {
	background-color: white;
	margin: 0px 40px;
}

.jumbotron {
	margin: 40px;
	background: white;
	border: solid medium orangered;
	
}